~$quirements.docx

back/.vs/
back/obj/
back/obj/Debug

*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.assets.json
*.nuget.cache

back/.vs/NETAssessment/FileContentIndex/68bf6bcd-fce5-4f11-82bc-e36f4c8375e5.vsidx
back/.vs/NETAssessment/FileContentIndex/736dae33-3518-4d0d-b03c-7e07fa7c5634.vsidx
back/.vs/NETAssessment/FileContentIndex/d4419f64-3024-4738-b14d-3ada8442ee56.vsidx
back/.vs/NETAssessment/FileContentIndex/d7cec224-5bb5-4503-8b58-a487244e6377.vsidx
back/obj/NETAssessment.csproj.nuget.dgspec.json
back/obj/NETAssessment.csproj.nuget.g.props
back/obj/project.assets.json
back/obj/project.nuget.cache
back/obj/Debug/net6.0/NETAssessment.assets.cache
back/obj/Debug/net6.0/NETAssessment.csproj.AssemblyReference.cache
back/obj/Debug/net6.0/NETAssessment.GeneratedMSBuildEditorConfig.editorconfig
back/appsettings.json
back/NETAssessment.csproj
