~$quirements.docx

back/.vs/
back/bin/
back/obj/

assessmentV2/assessmentV2/.vs/
assessmentV2/assessmentV2/bin/
assessmentV2/assessmentV2/obj/

assessmentVFinal/FinalApp/.vs/
assessmentVFinal/FinalApp/bin/
assessmentVFinal/FinalApp/obj/
