~$quirements.docx

back/.vs/
back/obj/
back/obj/Debug

*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.assets.json
*.nuget.cache

back/.vs/NETAssessment/FileContentIndex/68bf6bcd-fce5-4f11-82bc-e36f4c8375e5.vsidx
back/.vs/NETAssessment/FileContentIndex/736dae33-3518-4d0d-b03c-7e07fa7c5634.vsidx
back/.vs/NETAssessment/FileContentIndex/d4419f64-3024-4738-b14d-3ada8442ee56.vsidx
back/.vs/NETAssessment/FileContentIndex/d7cec224-5bb5-4503-8b58-a487244e6377.vsidx
back/obj/NETAssessment.csproj.nuget.dgspec.json
back/obj/NETAssessment.csproj.nuget.g.props
back/obj/project.assets.json
back/obj/project.nuget.cache
back/obj/Debug/net6.0/NETAssessment.assets.cache
back/obj/Debug/net6.0/NETAssessment.csproj.AssemblyReference.cache
back/obj/Debug/net6.0/NETAssessment.GeneratedMSBuildEditorConfig.editorconfig
back/NETAssessment.csproj
back/NETAssessment.csproj.user
back/bin/Debug/net6.0/appsettings.Development.json
back/bin/Debug/net6.0/appsettings.json
back/bin/Debug/net6.0/Azure.Core.dll
back/bin/Debug/net6.0/Azure.Identity.dll
back/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
back/bin/Debug/net6.0/Humanizer.dll
back/bin/Debug/net6.0/MessagePack.Annotations.dll
back/bin/Debug/net6.0/MessagePack.dll
back/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
back/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
back/bin/Debug/net6.0/Microsoft.Build.dll
back/bin/Debug/net6.0/Microsoft.Build.Framework.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Features.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.Features.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.Scripting.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Features.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.dll
back/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
back/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
back/bin/Debug/net6.0/Microsoft.DiaSymReader.dll
back/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
back/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
back/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
back/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
back/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
back/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
back/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
back/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
back/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
back/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
back/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
back/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
back/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
back/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
back/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
back/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
back/bin/Debug/net6.0/Microsoft.Identity.Client.dll
back/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
back/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
back/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
back/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
back/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
back/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
back/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
back/bin/Debug/net6.0/Microsoft.NET.StringTools.dll
back/bin/Debug/net6.0/Microsoft.OpenApi.dll
back/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
back/bin/Debug/net6.0/Microsoft.VisualStudio.Debugger.Contracts.dll
back/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
back/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
back/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
back/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
back/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
back/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
back/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
back/bin/Debug/net6.0/Mono.TextTemplating.dll
back/bin/Debug/net6.0/MySqlConnector.dll
back/bin/Debug/net6.0/NETAssessment.deps.json
back/bin/Debug/net6.0/NETAssessment.dll
back/bin/Debug/net6.0/NETAssessment.exe
back/bin/Debug/net6.0/NETAssessment.pdb
back/bin/Debug/net6.0/NETAssessment.runtimeconfig.json
back/bin/Debug/net6.0/Newtonsoft.Json.dll
back/bin/Debug/net6.0/NuGet.Common.dll
back/bin/Debug/net6.0/NuGet.Configuration.dll
back/bin/Debug/net6.0/NuGet.DependencyResolver.Core.dll
back/bin/Debug/net6.0/NuGet.Frameworks.dll
back/bin/Debug/net6.0/NuGet.LibraryModel.dll
back/bin/Debug/net6.0/NuGet.Packaging.dll
back/bin/Debug/net6.0/NuGet.ProjectModel.dll
back/bin/Debug/net6.0/NuGet.Protocol.dll
back/bin/Debug/net6.0/NuGet.Versioning.dll
back/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
back/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
back/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
back/bin/Debug/net6.0/System.CodeDom.dll
back/bin/Debug/net6.0/System.Composition.AttributedModel.dll
back/bin/Debug/net6.0/System.Composition.Convention.dll
back/bin/Debug/net6.0/System.Composition.Hosting.dll
back/bin/Debug/net6.0/System.Composition.Runtime.dll
back/bin/Debug/net6.0/System.Composition.TypedParts.dll
back/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
back/bin/Debug/net6.0/System.Drawing.Common.dll
back/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
back/bin/Debug/net6.0/System.Memory.Data.dll
back/bin/Debug/net6.0/System.Runtime.Caching.dll
back/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
back/bin/Debug/net6.0/System.Security.Permissions.dll
back/bin/Debug/net6.0/System.Text.Encodings.Web.dll
back/bin/Debug/net6.0/System.Text.Json.dll
back/bin/Debug/net6.0/System.Windows.Extensions.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
back/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
back/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
back/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
back/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
back/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
back/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
back/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
back/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
back/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
back/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
back/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
back/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
back/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
